:root {
  --body--bg: #cbddd2;

  --green--bg--dark: #6c928c;
  --green--bg--light: #56978e;

  --black--bg: #222222;

  --pale--green: #b7cbc0;

  --text--black: #000100;

  --green--text: #92aaa3;
}
