:root {
  --body--bg: #cbddd2;

  --green--bg--dark: #6c928c;
  --green--bg--light: #56978e;

  --black--bg: #222222;

  --pale--green: #b7cbc0;

  --text--black: #000100;

  --green--text: #92aaa3;

  --html--logo: #e34c26;
  --css--logo: #2965f1;
  --js--logo: #f0db4f;
  --react--logo: #61DBFB;
  --git--logo: #F1502F;
}
