.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}
#header {
  height: 64px;
  border: 4px solid var(--green--bg--dark);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
}  
#header .header-login-btn {
  padding: 4px 16px;
  font-weight: bold;
  color: var(--text--black);
  font-size: 14px;
  cursor: pointer;
}
#header .header-login-btn i {
  margin-right: 8px;
}

