.logo{
  font-size: 24px !important;
  font-weight: bold !important;
  cursor: pointer;
  margin-left: 64px !important;
  margin-right: 64px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.logo::after{
  content: "";
  display: inline-block;
  width: 12px;
  height: 6px;
  background-color: var(--text--black);
  border-radius: 6px;
  transition: 0.5s all ease;
}
.logo:hover::after{
  width: 120%;
}
