* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--text--black);
}
ul,
ol,
li {
  list-style: none;
}
button{
  background-color: transparent;
  cursor: pointer;
}
button,
input {
  text-decoration: none;
  border: none;
  outline: none;
}
:focus {
  outline: none;
}
