@import "./Assets/css/Reset.css";
@import "./Assets/css/Colors.css";
@import "./Assets/css/Logo.css";
@import "./Assets/css/Header.css";
@import "./Assets/css/LoginPage.css";
@import "./Assets/css/SignupPage.css";
@import "./Assets/css/LoginAnimation.css";
@import "./Assets/css/NotFoundPage.css";
body {
  background-color: var(--black);
}
#root {
  width: 100%;
  min-height: 100vh;
}
.app {
  width: 100%;
  min-height: 100vh;
}
